body,html{
    height:100%;
    width:100%;
    margin: none;
    padding: none;
    overflow-x: hidden;
   
}
header{
    .elevating-every-print-with-precision-and-passion{
        margin: none;
        #rasi-marketing-statement{
            background-color: rgb(133, 197, 133);
            color: white;
            text-align: center;
            
        }
    background-image:linear-gradient(rgb(30,30,30,0.5), rgba(30, 30, 30, 0.5)),url("images/elevating-every-print-with-precision-and-passion.png");
    height:100vh;
    width:100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    .elevating-every-print-with-precision-and-passion-heading{
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }
    .navigation-bar{
        text-align: center;
        }
        nav{
            justify-content: center;
            
        }
        nav span{
            padding-right: 15%;
            color:white;
        }
        nav i{
            padding-left:15%;
            color:white;
        }
        nav ul{
            list-style: none;
            padding: 0;
            display: flex;
            justify-content: center;
            margin-left: 50px;
            margin-top: 40px;
        }
        nav ul li {
            display: inline;
            margin: 0 5px;
        }nav ul li {
            display: inline;
            margin: 0 5px;
        }
        nav ul li a {
            color: white;
            text-decoration: none;

            .fa-phone-volume{
                color:white;
            }
        }

    }
}
.india-no-1-screen-printing-company{
    justify-content: center;
    p{
        text-align: center;
    }
    .india-no-1-screen-printing-company-content{
        display: flex;
        width:100vh;
        gap:10%;
        justify-content: center;
        justify-items: center;
        
        img{
            width:50vw;
            height:50vh;
            border-radius: 3vi;
        }
        p{
        
            text-align:justify;
            

        }
    }
}
.premium-quality-warranty-protection-timely-shipping-sustainable-artistry{
    display: flex;
    width:100vh;
    justify-content: space-between;
    padding-top: 5%;
    .premium-quality{
        display:flex
    }
    .warranty-protection{
        display: flex;
    }
}

.screen-and-process-printing{
    display:flex;
    width:100vw;
 
   
    img{
        width: 35vw;
        height: 50vh;
        border-radius: 5%;
        
    }
   
    .traditional-textile-screen-printing{
     img{
        size:1px;
     }
    }
    .four-color-process-printing{
        /* img{
          
        } */
    }
    
}
.aditya-birla-arvind-pvt-raymond-mills{
    display:flex;
    
    justify-content: space-around;
    align-items: center;
    .aditya-birla{
        display: flex;
        
    }
    .arvind-pvt{
        display: flex;
     
        
    }
    .raymond-mills{
        display:flex;
        
        
    }
    img{
        padding-top: 10%;
        width:5vw;
        height:5vh;
    }
}
.high-quality-printing-and-on-time{
    display:flex;
    padding-top: 3%;
    padding-bottom: 3%;
   
    justify-content: space-between;
    align-items: center;
    .fa-star{
        color:rgb(48, 90, 48)
    }
    P{
        width:58vw;
    }
    img{
        width:35vw;
        height:30vh;
        border-radius:15px;

    }
}
.arvind-pvt-gap-myntra-puma-aditya-birla-converse{
    display: flex;
    height: 3vh;
    width:70vw;
    padding-top: 7%;
    justify-content: space-around;
    text-align: center;
}
.showcasing-our-best-and-proudest-works{
    justify-content: center;
    p
    {
        text-align: center;
    }
    h1{
        text-align: center;
    }
    img{
        width:30vw;
        height: 40vh;
        border-radius: 5%;
    }

.showcasing-products-pictures{
    display: flex;
   justify-content: center;
    height:30vh;
    width: 100vw;
    gap:1%;
   
}
#showcasing-our-best-works4{
    padding-top: 10%;
    padding-left: 20%;
    border-radius: 0%;
    height:30vh;
    width:50vw;
    align-items: center;
}
}
.reachout-to-rasi-screening{
    text-align: center;
}
.reach-out-screen-printing-today{
    background-image: url("images/rasi-screen-printing-map.png");
    height:80%;
    width:95%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    left: 3%;
    border-radius: 5%;
    margin-bottom: 20%;
}
.rasi-printing-map-image{
    padding: 2%;
    text-align: justify;
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translate(-60%, -50%);
    color: black;
    border-radius: 3%;
    background-color: white;
    

}
footer{
   
    background-color:rgb(25, 25, 51);
    color: white;
    p{
        text-align: none;
    }
   #copyrights{
    text-align: center;
   }
}
.accounts-contact-sitemap-headoffice{
    display: flex;
    justify-content: space-evenly;
    gap:5%;
    img{
        padding-left: 10%;
        padding-top: 30%;
    }
}
@media only screen and (min-width: 375px) and (max-width: 1024px) {

    body{
        height: 100vh;
        width: 100vw;
       
    }
    .accounts-contact-sitemap-headoffice{
        display: flex;
    }
    .arvind-pvt-gap-myntra-puma-aditya-birla-converse{
        display: block;
    }
    .aditya-birla{
        display: block;
    }
    
}